:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin:0;
  background-color: #343541;
  color: #ececf1;
}

header {
  text-align: center;
  padding: 60px 20px 40px;

}

header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.subtitle {
  color: #b4b7c5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 400;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 0px 60px 0px;
}

.info-block {
  background-color:#444654;
  width: 48%;
  padding: 20px 40px 20px;
  border-radius: 12px;
  border: 1px solid #565869;
}

.info-block h3 {
  margin-top: 0;
  font-weight: 600;
  color: #ffffff;
}

.info-block ul {
  padding-left: 30px;
}

.scan-section {
  display: flex;
  justify-content: space-between;
}

.scan-box {
  display: flex;
  gap: 12px;
  width: 600px;
}

.scan-box input {
  
}